{{screen-canvas model=model}}
{{#link-to "viewController" model tagName="div" class="expanded-area"}}{{/link-to}}

{{#each uiPhoneControls}}
    {{view App.UiPhoneControlView}}
{{/each}}

<div class="status-bar"></div>
{{#if hasMenu}}
    <div class="action-bar">
        {{#link-to "appMenu" menu}}<div class="icon-menu"></div>{{/link-to}}
        <div class="bar-content-menu">{{controllers.editor.name}}</div>
    </div>
{{else}}
    <div class="action-bar">
        <div class="bar-content">{{controllers.editor.name}}</div>
    </div>
{{/if}}

{{#if hasMenu}}
    {{view App.MenuView}}
    {{#link-to "viewController" model}}{{view App.MenuViewShadow}}{{/link-to}}
{{/if}}
<div class="command-bar"></div>
