{{#if haveScreen}}
    <!-- MULTIPLE viewController in screen -->
    <!-- Separation Lines -->
    {{#each st in separationLinesStyle}}
        <div class="separation-line" {{bind-attr style=st}}></div>
    {{/each}}
    {{#each sceneScreen.viewControllers}}
        <!-- Screen view -->
        {{#link-to "viewController" this}}{{view App.TabletScreenViewController}}{{/link-to}}
        <!-- All uiPhoneControls in the same screen -->
        {{#each this.uiPhoneControls}}
            {{view App.UiPhoneControlView}}
        {{/each}}
    {{/each}}
{{else}}
    <!-- SINGLE viewController in screen -->
    <!-- Screen view -->
    {{#link-to "viewController" model}}{{view App.TabletScreenViewController}}{{/link-to}}
    <!-- UiPhoneControls -->
    {{#each uiPhoneControls}}
        {{view App.UiPhoneControlView}}
    {{/each}}
{{/if}}

<div class="status-bar"></div>
<!-- App Menu Icon -->
{{#if hasMenu}}
    <div class="action-bar">
        {{#link-to "appMenu" menu}}<div class="icon-menu"></div>{{/link-to}}
        <div class="bar-content-menu">{{controllers.editor.name}}</div>
    </div>
{{else}}
    <div class="action-bar">
        <div class="bar-content">{{controllers.editor.name}}</div>
    </div>
{{/if}}

<!-- Tab Menu (Multiple screens in a scene) -->
{{#if model.hasTabMenu}}
    {{view App.MenuTabView}}
{{/if}}

<!-- App Menu -->
{{#if hasMenu}}
    {{view App.MenuView}}
    {{#link-to "viewController" model}}{{view App.MenuViewShadow}}{{/link-to}}
{{/if}}

<div class="command-bar"></div>
{{screen-canvas model=model}}
