{{#if haveScreen}}
    <!-- MULTIPLE viewController in screen -->
    <!-- Separation Lines -->
    {{#each st in separationLinesStyle}}
        <div class="separation-line" {{bind-attr style=st}}></div>
    {{/each}}
    {{#each sceneScreen.viewControllers}}
        <!-- Screen view -->
        {{#link-to "viewController" this}}{{view App.TabletScreenViewController}}{{/link-to}}
        <!-- All uiPhoneControls in the same screen -->
        {{#each this.uiPhoneControls}}
            {{view App.UiPhoneControlView}}
        {{/each}}
    {{/each}}
{{else}}
    <!-- SINGLE viewController in screen -->
    <!-- Screen view -->
    {{#link-to "viewController" model}}{{view App.TabletScreenViewController}}{{/link-to}}
    <!-- UiPhoneControls -->
    {{#each uiPhoneControls}}
        {{view App.UiPhoneControlView}}
    {{/each}}
{{/if}}

<div class="status-bar"></div>

<!-- App Menu button and Back navigation button -->
{{#if haveScreen}}
    <!-- For tablet scenes with variation -->
    {{#if model.sceneScreen.hasBackButton}}
        <div class="action-bar">
            <div class="icon-back"></div>
            <div class="bar-content-menu">{{controllers.editor.name}}</div>
        </div>
    {{else}}
        <div class="action-bar">
            {{#link-to "appMenu" menu}}<div class="icon-menu"></div>{{/link-to}}
            <div class="bar-content-menu">{{controllers.editor.name}}</div>
        </div>
    {{/if}}
{{else}}
    <!-- For tablet scenes without variation (same as for smartphone scenes) -->
    {{#if model.hasBackButton}}
        <div class="action-bar">
            <div class="icon-back"></div>
            <div class="bar-content-menu">{{controllers.editor.name}}</div>
        </div>
    {{else}}
        <div class="action-bar">
            {{#link-to "appMenu" menu}}<div class="icon-menu"></div>{{/link-to}}
            <div class="bar-content-menu">{{controllers.editor.name}}</div>
        </div>
    {{/if}}
{{/if}}
<!-- Tab Menu (Multiple screens in a scene)
    CASE 1: there is a variation for tablets, show tab menu if there are multiple screens
    CASE 2: there isn't a variation for tablets, show tab menu if there are multiple view controllers
-->
{{#if controller.mustShowTabMenu}}
    {{view App.MenuTabView}}
{{/if}}

<!-- App Menu -->
{{#if model.scene.hasMenu}}
    {{view App.MenuView}}
    {{#link-to "viewController" model}}{{view App.MenuViewShadow}}{{/link-to}}
{{/if}}

<div class="command-bar"></div>
{{screen-canvas model=model}}
