{{#each uiPhoneControlsToShow}}
    {{#unless controlChain}}
        {{#if uiPhoneControls}}
            <li><span><i class="fa fa-plus-square-o"></i> {{#link-to 'dispatchUiPhoneControl'
                                                                     this}}{{name}}{{/link-to}}</span>
                <ul>
                    {{partial "partials/tree_container"}}
                </ul>
            </li>
        {{else}}
            <li>{{#link-to 'dispatchUiPhoneControl' this}}{{name}}{{/link-to}}</li>
        {{/if}}
    {{/unless}}
{{/each}}
{{#each controlChains}}
    {{#if uiPhoneControls}}
        <li><span {{bind-attr class="valid::invalid"}}><i class="fa fa-plus-square-o"></i> {{#link-to 'controlChain'
                                                                 this}}{{name}}{{/link-to}}</span>
            <ul>
                {{partial "partials/subtree_container"}}
            </ul>
        </li>
    {{else}}
        <li><span {{bind-attr class="valid::invalid"}}><i class="fa fa-plus-square-o"></i> {{#link-to 'controlChain' this}}{{name}}{{/link-to}}</span></li>
    {{/if}}
{{/each}}
