<!-- Constraints -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Constraints
        </h3>
    </div>
    <ul class="list-group" id="collapse-views" class="collapse in">
        {{#each item in constraints}}
            {{#if item.valid}}
                <li class="list-group-item">
                    {{#link-to "constraint" item}}{{item.name}}{{/link-to}}
                </li>
            {{else}}
                <li class="list-group-item-highlight">
                    {{#link-to "constraint" item}}{{item.name}}{{/link-to}}
                </li>
            {{/if}}
        {{/each}}
    </ul>
    <div class="panel-footer">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" {{action "createConstraint"}}>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

<!-- Position -->
{{input-number label="Position X" min="0" value=posX action='acceptChanges'}}
{{input-number label="Position Y" min="0" value=posY action='acceptChanges'}}
